body{
	position:absolute;
}

#testPaper{
	display:none;
	text-align:center;
}	

.white{
	
	background-color: white;
	border-radius: 10px 10px;
	box-shadow: rgba(78, 78, 78, 0.5);
	color:black;
}
.questionPanel{
  background-color: white;
  border-radius: 10px 10px;
  box-shadow: rgba(78, 78, 78, 0.5);
  color:black;
  height:auto;
  margin: 0 2rem;
  overflow:auto;
  max-height:600px;
}
.questionContent{
  border-radius: 10px 10px;
  box-shadow: rgba(78, 78, 78, 0.5);
  color:black;
  height:600px;
  max-height:600px;
}

.questionContent .btn{
	margin:.5rem .5rem;
}
.questionPanel .btn{
	margin:.1rem .1rem;
}
.questionPanel h2,.white h2{
	color: black;
}

.questionContent .btn-secondary{
	padding:1rem 1rem!important;
	background-color:grey!important;
	
	
}
.questionPanel .btn-danger{
	padding:6px 12px;
}

.questionContent .btn-primary{
	padding:.5rem 1rem;
	
}
.btn-start-test{
	padding:2rem 2rem;
	background-color:#FC5454;
	position:relative;
	top:50%;
	color:white!important;
}
@media only screen and (min-width: 800px) {
    .btn-secondary{
	position:relative;
	right:20px;
	
	
}
#footer{
	position:relative;
	bottom:0px;
	
}
}
@media only screen and (max-width: 400px) {
    .btn-secondary{
	position:relative;
	top:20px;
}
    .btn-primary{
	position:relative;
	top:15px;
	
}
.questionPanel{
	max-height: 300px;
	margin-bottom:2rem;
	
}
.questionContent{
	height:auto;
	max-height:480px;
}
}
@media only screen and (max-width: 1199px) {
.questionContent{
	margin:0 2rem;
}	
}
.hide{
	display:none !important;
}
.show{
	display:block !important;
}
.btn-orange{
	background-color:orange;
}
.btn-blue{
	background-color:#15E8EF;
}
.btn-grey{
	background-color:grey;
}
.btn-darkblue{
	background-color:#0099FF;
}
.alert-lightblue{
	background-color:#1BB8E8;
}

.alert {
	padding: 15px!important;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-lightblue{
	padding: 2px!important;
}
